/* --- Login page --- */
.login {
  left: 0;
  margin: auto;
  position: fixed;
  right: 0;
  top: 30%;
  width: 40%;
}

.login.section {
  margin: auto;
}

.login form > * {
  display: block;
  font-size: 18px;
  margin: 5px auto;
}

/* --- Main page --- */
.header {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: end;
  margin: 0 5px;
}

.main {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25px auto auto;
}

.main form > button {
  display: block;
  margin: 5px auto;
}

.config {
  grid-column: 1/2;
  grid-row: 2/3;
  margin: 5px;
}

.control {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 5px;
}

.control span {
  display: block;
}

.control label {
  width: 20%;
  display: inline-block;
  margin: 10px 0;
}

.control input {
  font-size: 15px;
}

.logs {
  grid-column: 1/3;
  grid-row: 3/4;
  margin: 5px;
}

